.section {
    padding: 6rem 0;
    position: relative;
    z-index: 0;
}

.section,
header,
footer {
    .inner {
        max-width: var(--maxw);
        margin: auto;
        position: relative;
        height: 100%;
    }
}



.app-container {
    &.up {
        .TopBanner {
            top: -110%
        }

        header {
            top: 0
        }
    }

    &.scrolled {
        header {
            background: #ffffff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 0) 100%);
        }
    }

}