.instar-inner{
    h2.tit {
        color: var(--secondary);
    }
    p.txt {
        font-family: 'Source Serif Pro',serif;
        font-size: 2rem;
        font-style: italic;
    }

    .instar-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 4rem;

        li{
            flex:1;

            @media screen and (max-width:1111px) {
                flex: 0 0 calc(33.333% - 1rem);

                a {
                    height: 345px;
                    width: 244px;
                }
            }

            a{
                display: block;
                height: auto;
                width: 100%;
                aspect-ratio: 198 / 230;
                background-size: cover;
                background-position: center;
            }
        }
    }
}