.skincare-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2.tit {
        color: var(--secondary);
    }
    a.btn {
        background: var(--s-gradient);
        &:hover {
            color:var(--secondary)
        }
    }
    .slider-wrap{
        width: 75rem;
        height: 53rem;
        // background-color: salmon;
        position: relative;
        // border: 1px solid #000;
        .in {
            position: absolute;
            width: 200%;
            height: 100%;
            // background-color: rgba(244, 165, 96, 0.432);


            .skincare-slider{
                height: 100%;
                a{
                    display: block;
                    height: 100%;
                    font-size: 0;
                }
            }
        }
    }
}